
 img{
     max-width: 100%;
     height: auto;
 }
 .header{
padding: .2rem 1rem .2rem 6rem;
    background: #fff!important;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
    right: 0;
    left: 0;
    position: fixed;
    top: 0;
    text-align: center;
 }

 #imageConatiner{
     margin: 0 0.65rem;
 }
.images{
    height: auto;
    margin: 0.5rem;
    cursor: pointer;
}
.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

}
@media (min-width:640px) {
    #imageConatiner{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-template-rows: repeat(5,300px);
     grid-auto-flow: row dense;
 }
 .images{
     margin: 0.7rem;
 }
 .images:first-child{
     grid-row: span 1;
 }
  .images:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: span 2;
 }
   .images:nth-child(6),.images:nth-child(8) {
      grid-row: span 2;
 }
}
/* The Modal (background) */
.modal-layout {
  cursor: pointer;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
